<div class="row">
  <div class="col-md-12">
    <div class="row">
    	<div class="col-md-6">
        <h4><strong>User:</strong></h4>
        <div class="row">
          <div class="col-md-8">
            <h5><%= @user.name %></h5>
            <h6><strong>Email:</strong> <%= @user[:email] %>, <strong>ID:</strong> <%= @user[:id] %></h6>
          </div>
          <div class="col-md-4 text-right">
            <%= link_to (fa_icon "edit", class: "edit-btn"), "#", class: "btn btn-sm btn-warning btn-margin" %>
            <%= link_to (fa_icon "trash-o", class: "trash-btn"), "#", class: "btn btn-sm btn-danger btn-margin" %>
          </div>
        </div>
        <div id="companies_list">
          <%= render 'companies' %>
        </div>
    	</div>
    	<div class="col-md-6">
        <div id="participants_list">
          <%= render 'participants' %>
        </div>
    	</div>
    </div>
  </div>
</div>